@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
  background-color: #F8F8FF;
}

.vid video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

.AnimationConatiner {
  position: absolute;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 11;
}

.header {
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 5;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.nav {
  width: 25px;
}

.nav span {
  margin-bottom: 0.3rem;
  background-color: white;
  height: 2px;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 425px) {
  .header {
    height: 96px;
  }

  .nav {
    width: 20px;
  }
}

.main {
  position: absolute;
  text-align: center;
  top: 90px;
  left: 200px;
  flex-direction: column;

}


.row h2 {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 600;
  color: white;
  mix-blend-mode: difference;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .main .row h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 425px) {
  .main .row h2 {
    margin-top: 72px;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

.line {
  margin-bottom: 8px;
  height: 60px;
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}


@media only screen and (max-width: 768px) {
  .line {
    height: 48px;
  }
}

@media only screen and (max-width: 425px) {
  .line {
    height: 32px;
  }
}

.cases {
  height: 50vh;
  height: calc(var(--vh, 1vh)* 50);
}

.row {
  display: flex;
  flex-direction: row;
}

.case {
  position: relative;
  background: black;
  cursor: pointer;
}

.case-image:hover {
  color: red
}

.case-details {
  width: 33.33vw;
  height: 50vh;
  height: calc(var(--vh, 1vh)* 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 38px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* @media only screen and (max-width: 1780px) {
  .case-details {
    width: 100%;
  }
} */



@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .case-details {
    width: 100vh;
  }
}

@media only screen and (max-width: 425px) {
  .case-details {
    padding: 16px;
  }
}

.case-details span {
  margin-top: 156px;
  font: 1.6 rem;
  opacity: .8;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .span {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 425px) {
  .span {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

}

.case-details h2 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  width: 85%;
  margin-top: 16px;
  color: white;
}

.case-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: .7;
  transition: .4s v=cubic-bezier(.6, -.05, .1, .99);
}

.case-img:hover {
  opacity: .9;
}

.case-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* //Intro Overlay  */
.top {
  height: 50vh;
  height: calc(var(--vh, 1vh)* 50);
  position: absolute;
  width: 100%;
  z-index: 8;
}

.overlay-top {
  position: absolute;
  height: 100%;
  width: 33.33vw;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .overlay-top {
    width: 100vw;
  }

  .overlay-top:nth-child(2) {
    display: none;
  }

  .overlay-top:nth-child(3) {
    display: none;
  }
}

.overlay-top:nth-child(2) {
  left: 33.33%;
}

.overlay-top:nth-child(3) {
  left: 66.66%;
}

.bottom {
  height: 50vh;
  height: calc(var(--vh, 1vh)* 50);
  position: absolute;
  width: 100%;
  z-index: 8;
  bottom: calc(200vh + 362.188px);
}
@media only screen and (max-width: 1800px) {
  .bottom{
    bottom: calc(200vh + 364.600px);
  }
}


.overlay-bottom {
  position: absolute;
  height: 100%;
  width: 33.33vw;
  background: white;
  bottom: 0;
  right: 66.66%;
}

.overlay-bottom:nth-child(2) {
  right: 33.33%;
}

.overlay-bottom:nth-child(3) {
  right: 0;
}

@media only screen and (max-width: 768px) {
  .overlay-bottom {
    right: 0;
    width: 100vw;
  }

  .overlay-bottom:nth-child(2) {
    width: 100vw;
    top: 100%;
    right: 0;
  }

  .overlay-bottom:nth-child(3) {
    width: 100vw;
    top: 100%;
  }
}

.aboutUs {
  height: 100vh;

}

.aboutContainer {
  width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
}

.about-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  height: 100vh;
}

.about-content {
  width: 50%;
  padding-bottom: 120px
}

.about-content-inner {
  width: 400px;
  margin: 0 auto;
  color: #323232;
}

.about-content-inner h1 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;
}

.about-content-line {
  margin: 0;
  height: 44px;
  overflow: hidden;
}

.about-content-inner p {
  font-size: 24px;
  line-height: 24px;
  font-weight: 30;
  padding-right: 48px;
  margin-bottom: 56px;
  text-align: justify;
}

.btn-more {
  position: relative;

}

.btn-more::before {
  position: absolute;
  content: '';
  width: 56px;
  height: 1px;
  background-color: #dfdfdf;
  top: 50%;
  left: -68px;
}

.btn-more button {
  background: none;
  border: none;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .7px;
  display: flex;
  align-items: center;
  position: relative;
}

.btn-more button:focus {
  outline: none;
}

.arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fff;
  height: 42px;
  width: 42px;
  border-radius: 100px;
  left: 80px;

}

.about-images {
  width: 50%;
  height: 100vh;
  position: relative;

}

.about-image {
  position: absolute;
  overflow: hidden;

}

.img1 {
  top: 12px;
  right: 0;
  width: 45%;
  height: 50%;
}

.img2 {
  bottom: 20px;
  left: 0px;
  width: 52%;
  height: 65%;
}

.about-image img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.specializationUs {
  height: 100vh;

}

.specializationContainer {
  width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
}

.specialization-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  height: 100vh;
  flex-direction: row-reverse;
  padding-left: 180px;
}

.specialization-content {
  width: 50%;
  padding-bottom: 120px
}

.specialization-content-inner {
  width: 400px;
  margin: 0 auto;
  color: #323232;
}

.specialization-content-inner h1 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;
}

.specialization-content-line {
  margin: 0;
  height: 44px;
  overflow: hidden;
}

.specialization-content-inner p {
  font-size: 24px;
  line-height: 24px;
  font-weight: 30;
  padding-right: 48px;
  margin-bottom: 56px;
  text-align: justify;
}

.btn-more {
  position: relative;

}

.btn-more::before {
  position: absolute;
  content: '';
  width: 56px;
  height: 1px;
  background-color: #dfdfdf;
  top: 50%;
  left: -68px;
}

.btn-more button {
  background: none;
  border: none;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .7px;
  display: flex;
  align-items: center;
  position: relative;
}

.btn-more button:focus {
  outline: none;
}


.specialization-images {
  width: 50%;
  height: 100vh;
  position: relative;

}

.specialization-image {
  position: absolute;
  overflow: hidden;

}

.img1 {
  top: 12px;
  right: 0;
  width: 45%;
  height: 50%;
}

.img2 {
  bottom: 20px;
  left: 0px;
  width: 52%;
  height: 65%;
}

.specialization-image img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Foooter  */ 
.logo {
  color:black
}
footer{  
  background: #E6E6FA;
  color: black;
  width:100%;
}
footer .footer-content{
  display:flex;
}
footer .footer-content .footer-section{
  flex:1;
  padding: 25px;
  padding-bottom:0;
}

footer .footer-content h2{
  color: black;
}
footer .footer-content .about .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom:8px;
}
footer .footer-content .about .socials a{
  color: #2F4F4F;
  width:45px;
  padding-top:5px;
  padding-right: 17px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.6em;
  border-radius: 5px;
}
footer .footer-content .about .socials a:hover{
  color:#3258a8;
  transition: all 0.3s; 
}
footer .footer-content .about .socials a:nth-child(2):hover {
  color:#00ACEE;
}
footer .footer-content .about .socials a:nth-child(3):hover {
  color:#FF0000;
}
footer .footer-content .about .socials a:nth-child(4):hover {
  color:#E1306C;
}
footer .footer-content .links h2{
  padding-bottom: 10px;
}
footer .footer-content .links ul a{
  text-decoration:none;
  margin-bottom: 10px;
  font-size: 1.1em;
  color:black;
  display: block;
}
footer .footer-content .links ul a:hover{
  color: grey;
  transition: all .3s;
}
footer .footer-content .contact-form .contact-input {
  background: #ccccff;
  color: black;
  line-height: 1.5rem;
  padding: .3rem .8rem;
  border: none;
  width:230px;
}

footer .footer-bottom{
  background: #ccccff;
  color: #686868;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.form-group{
  margin-bottom: 15px;
}
.form-group label{
  display: block;
  margin-bottom: 10px;
}

.input-checkbox{
  -webkit-appearance: none;
}
/***** responsive footer**********/
@media only screen and (max-width:600px){
  .middle-container .box{
      width:100%;
  }

  .boxes {
      flex-direction: column;
  }
  .container h1{
      font-size: 1.625rem ;
  }
  .table-container h1{
      font-size: 1.625rem;
  }
  footer .footer-content{
      flex-direction: column;
      align-items: center;
  }
  h1{
      font-size: 2.625rem;
  }
}
@media only screen and (max-width:970px){
  .middle-container .box{
      width:100%;
  }
  .container h1{
      font-size: 1.625rem
  }
  footer .footer-content{
      flex-direction: column;
      align-items: center;
  }
}
.btn{
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border: none;
}
.btn-send{
  background: rgb(80, 170, 221);
  color: #fff;
}
.fa-paper-plane{
  padding-right:8px
}
.contact span{
  color: #2F4F4F;
}
.testomonial-section{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testomonial-section::after{
  content: '';
  position: absolute;
  width: 900px;
  height: 550px;
  background: #f2f2f6;
  right: 0px;
  bottom: 0;
  opacity: .8;
  z-index: -10;
}
.testomonial-container{
  width: 1280px;
  min-width: 1280px;
  height: 600px;
  position: relative;
}
.arrows{
  position: absolute;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: .3s ease-in-out;
}
.right{
  right: 0;
}
.inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.t-image{
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.t-image ul{
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 460px;
  width: 340px;
  box-shadow: 0px 0px 40px rgba(0,0,10,.25);
}
.t-image ul li{
  height: 460px;
  width: 340px;
}
.t-image ul li img{
  height: 460px;
  width: 340px;
}
.t-content{
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
}
.t-content ul{
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 480px;
}
.t-content ul li{
  width: 500px;
  height: 480px;
  color: black;
  display: flex;
  position: absolute;
  opacity: 0;
}
.t-content ul li:nth-child(1){
  opacity: 1;
}
.testmonialContent-inner{
  width: 500px;
}
.quote{
  font-size: 26px;
  letter-spacing: 0.88px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.name{
  font-size: 18px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: green;
  font-weight: 600;
}
.title{
  font-size: 18px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: green;

}